// =============================================================================
// Objects / Transitions right
// =============================================================================
.o-transitions-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $grey;
  pointer-events: none;
  z-index: $zi-transitions;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform;
  transition-duration: 0.5s;
  transition-timing-function: $CubicEaseInOut;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform;
    transition-duration: 0.3s;
    transition-delay: 0.4s;
    transition-timing-function: $SineEaseInOut;
  }

  .is-transitions-right & {
    opacity: 1;
    transform: scaleX(1);

    &::after {
      transform: scaleX(1);
    }
  }
}
