// ==========================================================================
// Settings / Config / Layout
// ==========================================================================

// Spacing Units
// =============================================================================
$unit: 40px;
$unit-small: 20px;

// Container
// ==========================================================================
$padding: $unit;
$container-width: 2000px;
