// ==========================================================================
// Settings / Config / Z-indexes
// ==========================================================================

$zi-transitions: 2000;
$zi-header: 1000;
$zi-page: 100;
$zi-no-active: -1000;
