@font-face {
    font-family: "Gobold-Uplow";
    src: url("/fonts/Gobold-Uplow.eot"); /* IE9 */
    src: url("/fonts/Gobold-Uplow.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Gobold-Uplow.woff") format("woff"), /* chrome, firefox */
    url("/fonts/Gobold-Uplow.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/Gobold-Uplow.svg#Gobold-Uplow") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


