header(class='c-header')
  div(class='c-header_col-left')
    h1(class='c-header_title') jdacosta.io

  div(class='c-header_col-right -about')
    a(class='c-header_link' href='/about', data-transition='home-to-about') about

  div(class='c-header_col-right -close')
    a(class='c-header_link' href='/', data-transition='about-to-home') close
